@model LeaveManagementSystem.Models.LeaveEntry

@{
    ViewBag.Title = "Create";
}

@{
    IEnumerable<LeaveManagementSystem.Models.LeaveConfirmationViewModel> leaveHistory = ViewData["LeaveHistory"] as IEnumerable<LeaveManagementSystem.Models.LeaveConfirmationViewModel>;
}

<h2>Leave Request By  @TempData["LoggedEmployee"]</h2>
<hr>
@using (Html.BeginForm("LeaveApply", "LeaveRequest"))
{
    @Html.AntiForgeryToken()

    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Year :</label>
                    @Html.DropDownList("linktoYearId", null, "--Select--", new
                    {
                        @id = "ddlYears",
                        @name = "leaveType",
                        @onChange = "return ChangeYear(this)",
                        @class = "form-control",
                        @style = "width:200px"
                    })
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label> Leave Type :</label><br>
                    @Html.DropDownList("leaveType", new SelectList((System.Collections.IEnumerable)ViewData["LeaveTypes"], "LeaveTypeCode", "LeaveTypeDescription"), new { Class = "ddlStyle", id = "ddlLeaveType", onChange = "return ChangeLeaveType(this)" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label> Requested Date :</label><br>
                    <input id="requestedDate" type="date" name="requestedDate" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>No of Days :</label><br>
                    <input type="number" name="leaveDays" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Reason :</label><br>
                    <input type="text" name="reason" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Remaining Leave : </label>
                    <asp:Label ID="remainingLeaveViewBag" runat="server">@ViewBag.RemainingLeave</asp:Label>
                    <asp:Label ID="remainingLeave" runat="server"></asp:Label>
                </div>
                <div class="form-group">
                    <label>Leave Package :</label>  @ViewData["LeavePackage"]
                </div>
                <div class="form-group">
                    <label>Approving Officer :</label>  @ViewData["Supervisor"]
                </div>
                <div class="form-group">
                    <label>Employee Code : </label> @TempData["LoggedEmployeeCode"]
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Apply" class="btn btn-warning" />
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <h4>Leave History</h4>
        <table id="leaveHistory" class="table" border="1">
            <tr>
                <th>
                    Year
                </th>
                <th>
                    Leave Type
                </th>
                <th>
                    Reason
                </th>
                <th>
                    Requested Date
                </th>
                <th>
                    No: Of Leave
                </th>
                <th>
                    Supervisor Comment
                </th>
                <th>
                    Status
                </th>
            </tr>

            @foreach (LeaveManagementSystem.Models.LeaveConfirmationViewModel item in leaveHistory)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.LeaveType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeComment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveRequestedFromDate)
                    </td>
                    <td align="right">
                        @Html.DisplayFor(modelItem => item.NumberOfLeaves)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApproverComment)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.LeaveStatus)
                    </td>
                </tr>
            }
        </table>
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:Red;">  @TempData["ErrorMessage"] </span>
}@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">  @TempData["SuccessMessage"] </span>
}

<script type="text/javascript">

    function ChangeYear(obj) {
        window.location.href = '@Url.Action("Create", "LeaveRequest")?Year=' + obj.value;
    }

    function ChangeLeaveType(obj) {

        $("#remainingLeaveViewBag").hide();
        var year = $("#ddlYears").val();
        var empCode = $("#empCode").val();

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetLeaveTypeCode", "LeaveRequest")',
            contentType: "application/json; charset=utf-8",
            data: { year: year, leaveTypeCode: obj.value, employeeCode: empCode},
            dataType: "json",
            success: function (data)
            {
                $('#remainingLeave').text(data);
            },
            error: function() { alert('Error !!!'); }
        });

    }
</script>